.marginTop-2-p{
    margin-top: 2%;
}

.marginTop-5-p{
    margin-top: 5%;
}

.marginTop-8-p{
    margin-top: 8%;
}

.marginLeft-20{
    margin-left: 20px;
}

.marginLeft-1-p{
    margin-left: 1%;
}

.marginLeft-3-p{
    margin-left: 3%;
}

.cardWidth{
    width: 97%;
}

.mat-header-cell{
    background-color: #d50000;
    color: white;
    font-size: 16px;
    font-weight: bold;
}